html, body {
    height: 100%;

}

body {
    background-color: #181818;
    margin: 0;
    display: flex;
  
    justify-content: center;
    align-items: center;
}

canvas {
    border: solid 2px #eaeaea;
}
